<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome <%=user.username%> to your Dashboard</h1>
    <a href="/new">NEW</a>
    <form action="/settle" method="GET">
        <input type="text" name="username" value="<%=user.username%>" style="display:none;">
        <button type="submit">SETTLE</button>
    </form>

    <h2>Transaction Status</h2>
    <div>
        <% for(var i=0;i<user.givenTo.length;i++){ %>
            <div> take <%=user.givenAmount[i]%> from <%=user.givenTo[i]%></div>       
        <%}%>
    </div>
    <div>
        <% for(var i=0;i<user.takenAmount.length;i++){ %>
            <div> give <%=user.takenAmount[i]%> to <%=user.takenFrom[i]%></div>       
        <%}%>
    </div>
</body>
</html>