<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet'>
    <link rel="stylesheet" href="../styles.css"> 
</head>  
<body>

<nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="/user"><i class="fa fa-file-text fa-lg" > </i> Cash-Split</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
       
        <li class="nav-item text-right">
            <span class="nav-link" style="color: white;">
                <i class="fa fa-user-circle fa-lg"></i>
                <strong>Welcome <%=user1%></strong>
            </span> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fa fa-power-off fa-lg"> </i> Logout</a>
        </li>
       </ul>
  </nav>
    

    <div class="chat-container" style="max-width: 500px;">
        
          <div>
            <div style="text-align: center; background-color: #13ccec; padding: 5px;"><h1>Transactions History</h1></div>
            <div class="chat-messages">
                <%for(var i=0;i<txn.length;i++){%>
                    
                        <% if(txn[i].from===user1){%>
                        <div class="message" style="border-radius: 40px 40px 0px 40px">
                            <p class="meta" style="text-align: right;"> <%=user1%> <span style="color: gray; font-size: small;"><%=txn[i].created.toDateString()%></span>
                            <p class="text" style="text-align: left;font-size:35px;">
                                <i class="fa fa-inr"></i>  <%=txn[i].amount%>
                            </p>
                        </div>
                        <%}else{%>
                        <div class="message" style="border-radius: 0px 40px 40px 40px;">
                            <p class="meta"> <%=txn[i].from%>  <span style="color: gray; font-size: small;"><%=txn[i].created.toDateString()%></span>
                            <p class="text" style="font-size:35px; text-align: right;">
                                <i class="fa fa-inr"></i>  <%=txn[i].amount%>
                            </p>
                        </div>        
                        <%}%>
                        
                <%}%>
               
            </div>
            <div class="chat-form-container">
                <form id="chat-form" action="/user/<%=user2%>" method="POST">
                    <input style="background-color: white; color: black; width: 70%;" type="text" name="amount" value="0">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Pay</button>
                </form>
            </div>
        </main>
        
      </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>